# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
mysite/*.pyc
polls/*.pyc

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

mysite/__init__.pyc
mysite/settings.pyc
mysite/urls.pyc
mysite/wsgi.pyc
polls/__init__.pyc
polls/admin.pyc
polls/apps.pyc
polls/migrations/0001_initial.pyc
polls/migrations/__init__.pyc
polls/models.pyc
polls/urls.pyc
polls/views.pyc
